<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
      integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../public/css/login-page.css" />
    <title>Ratatouille</title>
  </head>
  <body>
    <!-- Register or sign up depending on if user is logged in or not -->
    <div class="login-register-container">
      <!-- go back to homepage -->
      <a class="logo-login" href="#">
        <img src="../../public/images/ratatouille-logo.png" alt="Logo" />
      </a>

      <h3 class="text-center my-5">Register/Please Login</h3>
      <form class="login-form">
        <div class="form-group">
          <label for="email">Email address</label>
          <input
            type="email"
            class="form-control"
            id="email"
            aria-describedby="emailHelp"
          />
          <!-- error email message from express controller -->
          <small id="emailHelp" class="form-text text-muted"
            >have error message render here.</small
          >
        </div>
        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" />

          <!-- error password message from express controller -->
          <small id="passwordHelp" class="form-text text-muted"
            >have password error message render here.</small
          >
        </div>
        <button type="submit" class="btn btn-primary">Sign Up/Sign In</button>
      </form>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
